<div class="tree-node">
  <span class="tree-label-node" (click)="nodeClicked(treeNode)">
    <i class="node-icon" [ngClass]="{'node-icon-exp' : !treeNode.expanded, 'node-icon-cal' : treeNode.expanded}" aria-hidden="true"></i>
    <span class="tree-label">{{treeNode.label}}</span>
  </span>
  <div *ngIf="treeNode.expanded && treeNode.children && treeNode.children.length>0" class="tree-children">
    <div *ngFor="let treeNode of treeNode.children" class="tree-children">
    <treenode [treeNode]="treeNode" (onNodeClicked)="nodeClicked.bind($event)"></treenode>
  </div>

  </div>
</div>